.gallery {
    // width: 1600px;
    margin: auto;
}

.photo-card {
    display: inline-flex;
    flex-direction: column;
    // height: 400px;
    width: 300px;
    // margin: 15px;
}

// .photo-card > img {
    // display: block;
    // height: auto;
    // max-width: 100%;
    // object-fit: cover;
// }


.info {
    display: flex;
    justify-content: space-around;
}

.info-number {
    display: flex;
    justify-content: center;
}